<!DOCTYPE html>
<html>
{% load static %}
<link rel="stylesheet" type="text/css" href="/static/css/glowTextStyle.css">

<head>

</head>


<body>
<h1 class="glowIn">TREND</h1>
<p class="glowIn">
    The purpose of this project is to summarize the news data and implement features extraction to analyze the positive or negative impact of relative news on the changing trend of the US stocks. You can find relevant stock and news on this webpage. Enjoy your time !
</p>

<ul class="float-text-menu">
    <li><a href="#" data-text="Home">Home</a></li>
    <li><a href="http://127.0.0.1:8000/base" data-text="start">Start</a></li>
    <li><a href="#" data-text="Categories">Categories</a></li>
    <li><a href="#" data-text="About">About</a></li>
</ul>


<script src="{% static "js/glowText.js" %}"></script>
</body>
</html>

